/.dockerignore
/.idea/.idea.FarmApi/.idea/.gitignore
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/apphost.exe
/bin/Debug/net6.0/appsettings.Development.json
/appsettings.Development.json
/bin/Debug/net6.0/appsettings.json
/appsettings.json
/Dockerfile
/.idea/.idea.FarmApi/.idea/encodings.xml
/Models/Farm.cs
/obj/Debug/net6.0/FarmApi.AssemblyInfo.cs
/obj/Debug/net6.0/FarmApi.AssemblyInfoInputs.cache
/obj/Debug/net6.0/FarmApi.assets.cache
/FarmApi.csproj
/obj/Debug/net6.0/FarmApi.csproj.AssemblyReference.cache
/obj/Debug/net6.0/FarmApi.csproj.CopyComplete
/obj/Debug/net6.0/FarmApi.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/FarmApi.csproj.FileListAbsolute.txt
/obj/FarmApi.csproj.nuget.dgspec.json
/obj/FarmApi.csproj.nuget.g.props
/obj/FarmApi.csproj.nuget.g.targets
/bin/Debug/net6.0/FarmApi.deps.json
/bin/Debug/net6.0/ref/FarmApi.dll
/bin/Debug/net6.0/FarmApi.dll
/obj/Debug/net6.0/ref/FarmApi.dll
/obj/Debug/net6.0/FarmApi.dll
/bin/Debug/net6.0/FarmApi.exe
/obj/Debug/net6.0/FarmApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/FarmApi.genruntimeconfig.cache
/obj/Debug/net6.0/FarmApi.GlobalUsings.g.cs
/obj/Debug/net6.0/FarmApi.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net6.0/FarmApi.MvcApplicationPartsAssemblyInfo.cs
/bin/Debug/net6.0/FarmApi.pdb
/obj/Debug/net6.0/FarmApi.pdb
/bin/Debug/net6.0/FarmApi.runtimeconfig.json
/FarmApi.sln
/Controllers/FarmController.cs
/Controllers/HealthCheckController.cs
/.idea/.idea.FarmApi/.idea/indexLayout.xml
/Properties/launchSettings.json
/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Program.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/.idea/.idea.FarmApi/.idea/projectSettingsUpdater.xml
/obj/rider.project.restore.info
/Models/Sheep.cs
/Controllers/SheepController.cs
/obj/Debug/net6.0/staticwebassets.build.json
/obj/staticwebassets.pack.sentinel
/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.FarmApi/.idea/vcs.xml
/.idea/.idea.FarmApi/.idea/workspace.xml
